body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282828;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  color: #61f996;
}

header {
  display: flex;
  justify-content: center;
  width: 70%;
  border-top: 10px solid #61f996;
  border-bottom: 2px solid #61f996;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /*width: 100vw;
  height: 100vh;*/
}

.row {
  display: flex;
  /*justify-content: center;*/
  /*flex-wrap: nowrap;*/
  /*flex-direction: row;*/
  margin-top: 3%;
}

.col-1 {
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  margin: 10px;
  width: 50%;
}

.col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;

}

.col-2 p {
  font-size: 20px;

}

.col-2 h3 {
  font-size: 28px;
}

 h3 {
   margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #61f996;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #61f996;
}


@media screen and (max-width: 768px) {

header {
  height: 90px;

}
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .col-1 {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
  }

  .col-2 {
    margin-left: 10px;
    margin-right: 10px;
    /*margin-bottom: 90px;*/
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  p {
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 18px;
  }

}

@media screen and (max-width: 480px) {

header {
  height: 150px;
}

}
